DB_USERNAME=flashsale
DB_PASSWORD=replace-with-local-database-password
MYSQL_ROOT_PASSWORD=replace-with-local-root-password

APP_PORT=8081
MYSQL_EXPOSED_PORT=3308
REDIS_EXPOSED_PORT=6381
RABBITMQ_EXPOSED_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
